* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #FFF;
}
a {
	text-decoration: none;
	color: currentColor;
}
ul {
	list-style: none;
}

/* -----HEADER----- */

.top-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* height: 80px; */
	padding: 20px 120px;
}
/* --- */
.top-nav ul {
	display: flex;
	gap: 40px;
	font-size: 18px;
}
.top-nav li a {
	transition: 0.3s;
	padding-bottom: 5px;
}
.top-nav li a:hover {
	border-bottom: 3px solid #10dfc2;
	color: #19dbd1;
}
/* --- */
.top-header button {
	background-color: #10dfc2;
	border-radius: 15px;
	height: 42px;
	width: 213px;
	font-size: 18px;
	color: #fbfbfb;
	border: 0;
}

/* -----MAIN----- */
main{
	color: #032624;
}
.top-main {
	background: url(/img/Background@2x.png) no-repeat;
	background-size: cover;
	display: flex;
	color: white;
	justify-content: space-between;
	align-items: center;
	padding: 100px 225px;
}
.top-main-card1 {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.top-main-card1 img{
	width: 66px;
}
.top-main-card1 h1 {
	font-size: 40px;
}
.top-main-card1 p {
	font-size: 18px;
	line-height: 1.6em;
}
.top-main-card2 {
	display: flex;
	flex-direction: column;
	gap: 69.66px;
	justify-content: center;
	align-items: center;
}
.top-main-card2-img1{
 width: 138.5px;
}
/* --- */
.about{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:50px 250px; 
}
.about-card1 h1{
	font-size: 32px;
	margin-bottom: 24px;
}
.about-card1 p{
	font-size: 16px;
	margin-bottom: 16px;
}
.about-card1 span{
	font-size: 16px;
	color: #0eafac;
	font-weight: 600;
}
/* --- */
.how-work{
	background-color: #F6F6F6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
}
.how-work-top h1{
	color: #0EAFAC;
	text-align: center;
	font-size: 32px;
	margin-bottom: 16px;
}
.how-work-top p{
	font-size: 16px;
	text-align: center;
	margin-bottom: 50px;
}
.how-work-grid {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 29px;
}
.grid{
	width: 262px;
	height: 250px;
	background-color: #FFF;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #00000029;
	padding: 20px;
}
.grid img{
	padding-bottom: 24px;
}
.grid h2{
	font-size: 16px;
	margin-bottom: 16px;
}
.grid p{
	font-size: 16px;
}
/* --- */
.bottom-main{
	margin: 50px 250px;
	display: flex;
	flex-direction: column;
}
.requirements{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.details{
	padding-top: 115px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.bottom-main-text ul{
	list-style:disc;
	list-style-position: inside;
	color: #032624;
}
.bottom-main-text ul li{
	font-size: 12px;
}

.bottom-main-text li span{
	font-size: 16px;
}
.bottom-main-text h1{
	font-size: 32px;
	color: #0EAFAC;
	padding-bottom: 24px;
}
.bottom-main-text h2{
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 16px;
}


/* -----FOOTER----- */

.top-footer{
	padding: 50px 250px;
	background-color: #19dbd1;
	color: #FFF;
	display: flex;
	justify-content: space-between;
}
.top-footer-text{
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.top-footer-text h1{
	font-size: 32px;
}
.top-footer-text p{
	font-size: 16px;
}

.top-footer-form form{
	display: flex;
	flex-direction: column;
}
.top-footer-form form label{
	font-size: 16px;
	margin-bottom: 10px;
}
.input-email{
	border: 0;
	border-radius: 10px;
	width: 300px;
	height: 35px;
	margin-bottom: 24px;
}
.button-form{
	border: 0;
	border-radius: 10px;
	width: 100px;
	height: 35px;
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	background-color: #FFB900;
}
/* --- */
